<div class="card mx-auto shadow property-card">
  <div class="card-header" [style.background-color]="propertyObj['agency']['brandingColors']['primary']">
    <span><img class="card-img-top" src="{{propertyObj['agency']['logo']}}" alt="Logo image"></span>
  </div>
  <div class="card-body hover-effect">
    <img class="card-img-top img-responsive" src="{{propertyObj['mainImage']}}" alt="House image">

    <div class="overlay">
      <app-custom-property-button [type]="propCategory" [id]="propertyObj['id']"
        (addClicked)="addPropertyToSaved($event);" (removeClicked)="removePropoertyFromSaved($event);">
      </app-custom-property-button>
    </div>
    <hr>
    <span class="card-text">
      Price: {{propertyObj['price']}}
      <br>
      <!-- <div *ngIf="message" class="alert alert-light alert-dismissible fade show" role="alert">
          <small class="text-danger">{{message}}</small>
      </div> -->
    </span>
  </div>
</div>